.home {    
    padding: 15px;

    .banner {
        padding: 15px;
        font-size: 1.7rem;
        font-family: gothamLight, Verdana, Geneva, Tahoma, sans-serif;
    }

    .balanceContainer {        
        display: flex;
        
        >div:nth-child(2) {
            margin: 0 50px;
        }

        .cardBalance {
            padding: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .icon {                
                padding: 0 15px;
            }

            .info {
                display: flex;
                flex-direction: column;

                .header {
                    display: flex;
                    text-transform: uppercase;
                    padding: 0 15px;
                    align-self: flex-end;
                    font-family: gothamLight, Verdana, Geneva, Tahoma, sans-serif;
                }

                .body {            
                    display: flex;
                    align-items: center;
                    padding: 15px;

                    .value {
                        font-size: 2rem;
                        padding: 0 15px;
                    }

                    .symbol {
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }

    .formContainer {
        .formCard {
            margin: 15px;

            .header {
                padding: 5px 50px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                div:first-child {

                }

                div:last-child {                
                    
                    text-transform: uppercase;
                }
            }

            .cardContainer {
                display: flex;
            }

            .quantity {
                width: 100%;
                padding: 15px;
            }
            
            .payment {
                width: 100%;
                padding: 15px;
            }
        }
    }
}