#sidebar {    
    background: #D6A84C;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    
    > div {
        color: #fff;
        font-family: gothamBook, Verdana, Geneva, Tahoma, sans-serif;
        background: #04042D;        
        height: 100%;
        border-radius: 0 40px 0 40px;

        .brand {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 25px 35px;

            .logo {

            }

            .menu {
                cursor: pointer;
            }
        }
    }
}